In [3]:
#  Import and read the title-ratings.csv
import pandas as pd 
ratings_df = pd.read_csv("title-ratings.csv")
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1914
1  tt0000002            5.8       259
2  tt0000003            6.5      1720
3  tt0000004            5.6       172
4  tt0000005            6.2      2537

In [4]:
ratings_df.sort_values(by=['averageRating'], ascending=False)

            tconst  averageRating  numVotes
554170   tt1202501           10.0        14
559594  tt12133742           10.0        12
728601   tt1626293           10.0         5
560109  tt12145708           10.0         5
959860   tt3713376           10.0         7
...            ...            ...       ...
915928   tt3078684            1.0        59
915927   tt3078678            1.0        66
915925   tt3078662            1.0        67
222367   tt0397925            1.0        11
543175  tt11797784            1.0         7

[1048575 rows x 3 columns]

In [8]:
sorted_df = ratings_df.sort_values(by=['averageRating'], ascending=False)
sorted_df.head(10)

            tconst  averageRating  numVotes
554170   tt1202501           10.0        14
559594  tt12133742           10.0        12
728601   tt1626293           10.0         5
560109  tt12145708           10.0         5
959860   tt3713376           10.0         7
560260  tt12150412           10.0         6
560261  tt12150458           10.0         6
560320  tt12152340           10.0         6
826571  tt21138410           10.0        22
959864   tt3713394           10.0         6

In [9]:
top_ten_movies_df = sorted_df.head(10)
top_ten_movies_df

            tconst  averageRating  numVotes
554170   tt1202501           10.0        14
559594  tt12133742           10.0        12
728601   tt1626293           10.0         5
560109  tt12145708           10.0         5
959860   tt3713376           10.0         7
560260  tt12150412           10.0         6
560261  tt12150458           10.0         6
560320  tt12152340           10.0         6
826571  tt21138410           10.0        22
959864   tt3713394           10.0         6

In [10]:
top_ten_movies_df.to_csv('topten_movies.csv')